extends layout.pug   

block content
    div.flex-container
        div.row.narrow-width.small
            h2 About
            div This tool is a humble attempt at collating a repository of Konkani words spoken in Kerala. It was collected by #[b Surya Ashok] by consulting a large number of people in her circles.

        div.narrow-width
            h2 Statistics
            div.counter
                div.flex-item
                    div.counter-1
                        p.counter-count 13229
                        p.counter-1-p Konkani Words
                div.flex-item
                    div.counter-2
                        p.counter-count 16616
                            p.counter-2-p English Words

        div.narrow-width.small
            h2 Acknowledgements
            ul
                li Somalatha R Pai (Mother of Surya Ashok), Tripunithura.
                li Pranav Ashok (Creator of website), Palluruthy.
                li Dr. Ravi Kamath, Moovattupuzha.
                li Hemalatha Venugopala Mallan, Varapuzha.
                li Radha Vasu, Palluruthy.
                li Radha Divakar, Palluruthy.
                li Shobha S Prabhu, Kozhikode.
                li Prabha Kamath, Ernakulam.
                li Pushpa Naveen, Chalakudi.
                li Ramakrishna Kini, Ernakulam.
                li R W Jayakar, Tiruvananathapuram.
                li Susheela T Bhat, Kochi.
                li Radhika Shenoi, Palluruthy.
                li Sarathchandra Shenoi, Palluruthy.
                li Sudhakar R Pai, Chennai.
                li Rupashri Ashok, Palluruthy.
                li A R Balakrishna Prabhu, Tripunithura.
                li Valsala R Shenoi, Palluruthy.
            span and many more.


        div.narrow-width.small
            h2 Bibliography
            h3 Books
            ul
                li V P chavan. (1924). The Konkan And The Konkani Language. Asian Educational Services, New Delhi.
                li Saratchandra Shenoi. (2015). A Handbook for writing better Konkani. Sukrtindra Oriental Research Institute, Thammanam, Kochi.
                li P B Janardhan. (1991). A Higher Konkani Grammer. self Published.
                li P B Janardhan. (1992). A Konkani Dhatukosh. self Published.
                li Prakash G Thali. (2003). English Konkani Dictionary. Rajhauns.
                li Suresh J Borkar, Mukesh P Thali, Damodar K Ghanekar. (2015). Konkani English Dictionary (New generation). Rajhauns.
                li Suresh J Borkar, Mukesh P Thali, Damodar K Ghanekar. (2003). Konkani English Dictionary, Vol 1 and 2. Rajhauns.
                li Dr L Sunitha Bai. (1987). Konkani-Hindi-Malayalam Dictionary. Cusat.
                li Dr L Sunitha Bai. (2004). Socio-Cultural Background of the Gowda Saraswat Brahmin Community As Reflected in the Konkani Proverbs. Sukrtindra Oriental Research Institute, Thammanam, Kochi.
                li V P chavan. (1995). The Konkani Proverbs. Asian Educational Services, New Delhi.
                li Prof R K Rao. (1993). Vocabulary. Konkani Language Institute.
                li എ ആര് ബാലകൃഷ്ണ പ്രഭു. (2014). അന്ത്യേഷ്ടി. Self Published.
                li ശരത്ചന്ദ്രഷേണായ്. (1993). കൊങ്കണി നമ്മുടെ മാതൃഭാഷാ. ദിശ ഇൻസ്റ്റിറ്റ്യൂട്ട് ഓഫ് കൊങ്കണി, കൊച്ചി.
                li ശ്രീമതി സുശീല ത്രിവിക്രമ ഭട്ട്. (2004). കൊങ്കണി പാചക സഹായി. ജി എസ് ബി മഹാസമ്മേളനം, കൊചി.
                li ശരത്ചന്ദ്രഷേണായ്. (2012). കൊങ്കണി ഭാഷാ പഠന സഹായി. സുകൃതീന്ദ്ര ഓറിയൻ്റൽ റിസര്ച്ച് ഇൻസ്റ്റിസ്റ്റ്യൂട്ട്, കൊച്ചി.
                li ശരത്ചന്ദ്രഷേണായ്. (2014). മലയാളം-കൊങ്കണി ക്രിയാപദാവലി. എസ് ജി എസ് സഭാ, കോഴിക്കോട്.
                li എ ആര് ബാലകൃഷ്ണ പ്രഭു. (2007). സമ്പൂര്ണ്ണ ഷോഡശ സംസ്കാരങ്ങൾ. വൈഷ്ണവ് രത്ന്, കാരണകോടം.
                li എ ആര് ബാലകൃഷ്ണ പ്രഭു. (2014). സാരസ്വത ബ്രാഹ്മണരുടെ മൂലസ്ഥാനവും അവരുടെ പ്രയാണങ്ങളും. self Published.
                li सुशीला टी भट. (2014). अज्जेलीं वोक्कदां. कोंकणी केंद्र, गोश्रीपुर.
                li संपादक सुशीला टी भट. (2008). एदेच कोंकणी लोकगीत. कोंकण जनता प्रकाशन, कोची.
                li पी जी कामत, शरतचंद्र शेणै. (2001). कोंकणी बरयतना. सुकृतीन्द्र प्राच्य-विद्या शोध संस्थान, कोची.
                li प्रो आर के रावु. (1984). कोंकणी मलयाळम स्वबोधिनी. कोंकणी भाषा इंन्स्टिट्यूट.
                li संपादक पुरुषेत्तम मल्लया. (1978). कोंकणी म्हणी. कोंकणी भाषा प्रचार सभा, कोची.
                li आर एस प्रभू. (1985). कोंकणी म्हण्यां सोरु. केरळा कोंकणी अकाडमी, कोची.
                li संपादक पुरुषेत्तम मल्लया. (1998). कोंकणी लोकगीत समुचय(केरल). कोंकणी भाषा प्रचार सभा, कोची.
                li प्रो आर के रावु. (1977). कोंकणी व्याकरण. कोंकणी भाषा इंन्स्टिट्यूट.
                li शांताराम अनंत हेदो. (1992). कोंकणी-कोंकणी शब्दकोश. कोंकणी भाशा मंडळ, गोंय.
                li पी जी कामत. (1986). लिपि-एक शास्त्रीय चिंतन. केरळा कोंकणी अकाडमी, कोची.
                li संपादक पय्यनूर रमेश पै. (2015). हॉर्तूस मलबारिकूस: एक वळख. पा जी कामत फौंडेशन, एरणाकुळम.
                li प्रो आर के रावु. (1995). केरळांतलीं कोंकणी लोकगीतां. कोंकणी भाषा इंन्स्टिट्यूट.
                li डॉ एल सुनीताबाई. (2002). चिन्तन-अनुचिन्तन. सुकृतीन्द्र प्राच्य-विद्या शोध संस्थान, कोची.
            h3 Magazines
            ul
                li कोंकण जनता. आर सुभाषचंद्र प्रभू, गौड सारस्वत असोसियेशन, कोची.
                li दिवटी. केरळा कोंकणी अकाडमी, कोची.
                li सारस्वत वाणी. संयुक्त गौड सारस्वत सभा, कोषिकोड.
                li स्पंदन. केरळा कोंकणी अकाडमी, कोची.
                li वैष्णव रत्न. वी आनन्द भट, कारणकोड. 
            h3 Websites
            ul
                li 
                    a(href="https://www.wikipedia.org") wikipedia.org
                li 
                    a(href="https://thesaurus.com") thesaurus.com
                li 
                    a(href="https://shabdkosh.com") shabdkosh.com
                li 
                    a(href="http://spokensanskrit.org") spokensanskrit.org
                li 
                    a(href="https://konkanifestivals.wordpress.com") konkanifestivals.wordpress.com