extends layout.pug   

block content
    div.flex-container
        div.row.narrow-width
            h2 About
            div This tool is a humble attempt at collating a repository of Konkani words spoken in Kerala. It was collected by #[b Surya Ashok] by consulting a large number of people in her circles.

        div.narrow-width
            h2 Statistics
            div.counter
                div.flex-item
                    div.counter-1
                        p.counter-count 10394
                        p.counter-1-p Konkani Words
                div.flex-item
                    div.counter-2
                        p.counter-count 12355
                            p.counter-2-p English Words

    nav.fixed-bottom.navbar.navbar-expand-md.navbar-light.bg-light(style="background-color: #e3f2fd;")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarToggler")
            a.navbar-brand(href="/", style="color: #000; font-weight: 500;") दक्षिण कोंकणी उतरावळि
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Search
                li.nav-item
                    a.nav-link(href="/contents") Contents
                li.nav-item
                    a.nav-link(href="/suggest") Suggest
                li.nav-item
                    a.nav-link.active(href="/about") About    
                li.nav-item
                    a.nav-link(href="/contact") Contact