extends layout.pug   

block content
    div.flex-container
        div.row.narrow-width
            h2 About
            div This tool is a humble attempt at collating a repository of Konkani words spoken in Kerala. It was collected by #[b Surya Ashok] by consulting a large number of people in her circles.

        div.narrow-width
            h2 Statistics
            div.counter
                div.flex-item
                    div.counter-1
                        p.counter-count 10394
                        p.counter-1-p Konkani Words
                div.flex-item
                    div.counter-2
                        p.counter-count 12355
                            p.counter-2-p English Words