extends layout.pug   

block link
    -var selected = 'About';

block content
    div.flex-container
        div.row.narrow-width.small
            h2 About
            div This tool is a humble attempt at collating a repository of Konkani words spoken in Kerala. It was collected by #[b Surya Ashok] by consulting a large number of people in her circles.

        div.narrow-width
            h2 Statistics
            div.counter
                div.flex-item
                    div.counter-1
                        p.counter-count 13229
                        p.counter-1-p Konkani Words
                div.flex-item
                    div.counter-2
                        p.counter-count 16616
                            p.counter-2-p English Words

        div.narrow-width.small
            h2 Acknowledgements
            ul.bibliography
                li Somalatha R Pai (Mother of Surya Ashok), Tripunithura.
                li Pranav Ashok (Creator of website), Palluruthy.
                li A R Balakrishna Prabhu, Tripunithura.
                li Hemalatha Venugopala Mallan, Varapuzha.
                li Prabha Kamath, Ernakulam.
                li Pushpa Naveen, Chalakudi.
                li R W Jayakar, Tiruvananathapuram.
                li Radha Divakar, Palluruthy.
                li Radha Vasu, Palluruthy.
                li Radhika Shenoi, Palluruthy.
                li Ramakrishna Kini, Ernakulam.
                li Dr. Ravi Kamath, Moovattupuzha.
                li Rupashri Ashok, Palluruthy.
                li Sarathchandra Shenoi, Palluruthy.
                li Shobha S Prabhu, Kozhikode.
                li Sudhakar R Pai, Chennai.
                li Susheela T Bhat, Kochi.
                li Valsala R Shenoi, Palluruthy.
            span and many more.


        div.narrow-width.small
            h2 Bibliography
            h3 Books
            ul.bibliography
                li A Handbook for writing better Konkani. (2015). Saratchandra Shenoi. Sukrtindra Oriental Research Institute, Thammanam, Kochi.
                li A Higher Konkani Grammer. (1991). P B Janardhan. Self Published.
                li A Konkani Dhatukosh. (1992). P B Janardhan. Self Published.
                li English Konkani Dictionary. (2003). Prakash G Thali. Rajhauns.
                li Konkani English Dictionary (New generation). (2015). Suresh J Borkar, Mukesh P Thali, Damodar K Ghanekar. Rajhauns.
                li Konkani English Dictionary, Vol 1 and 2. (2003). Suresh J Borkar, Mukesh P Thali, Damodar K Ghanekar. Rajhauns.
                li Konkani-Hindi-Malayalam Dictionary. (1987). Dr L Sunitha Bai. Cusat.
                li Socio-Cultural Background of the Gowda Saraswat Brahmin Community As Reflected in the Konkani Proverbs. (2004). Dr L Sunitha Bai. Sukrtindra Oriental Research Institute, Thammanam, Kochi.
                li The Konkan And The Konkani Language. (1924). V P chavan. Asian Educational Services, New Delhi.
                li The Konkani Proverbs. (1995). V P chavan. Asian Educational Services, New Delhi.
                li Vocabulary. (1993). Prof R K Rao. Konkani Language Institute.
                li अज्जेलीं वोक्कदां. (2014). सुशीला टी भट. कोंकणी केंद्र, गोश्रीपुर.
                li एदेच कोंकणी लोकगीत. (2008). संपादक सुशीला टी भट. कोंकण जनता प्रकाशन, कोची.
                li केरळांतलीं कोंकणी लोकगीतां. (1995). प्रो आर के रावु. कोंकणी भाषा इंन्स्टिट्यूट.
                li कोंकणी बरयतना. (2001). पी जी कामत, शरतचंद्र शेणै. सुकृतीन्द्र प्राच्य-विद्या शोध संस्थान, कोची.
                li कोंकणी मलयाळम स्वबोधिनी. (1984). प्रो आर के रावु. कोंकणी भाषा इंन्स्टिट्यूट.
                li कोंकणी म्हणी. (1978). संपादक पुरुषेत्तम मल्लया. कोंकणी भाषा प्रचार सभा, कोची.
                li कोंकणी म्हण्यां सोरु. (1985). आर एस प्रभू. केरळा कोंकणी अकाडमी, कोची.
                li कोंकणी लोकगीत समुचय(केरल). (1998). संपादक पुरुषेत्तम मल्लया. कोंकणी भाषा प्रचार सभा, कोची.
                li कोंकणी व्याकरण. (1977). प्रो आर के रावु. कोंकणी भाषा इंन्स्टिट्यूट.
                li कोंकणी-कोंकणी शब्दकोश. (1992). शांताराम अनंत हेदो. कोंकणी भाशा मंडळ, गोंय.
                li चिन्तन-अनुचिन्तन. (2002). डॉ एल सुनीताबाई. सुकृतीन्द्र प्राच्य-विद्या शोध संस्थान, कोची.
                li लिपि-एक शास्त्रीय चिंतन. (1986). पी जी कामत. केरळा कोंकणी अकाडमी, कोची.
                li हॉर्तूस मलबारिकूस: एक वळख. (2015). संपादक पय्यनूर रमेश पै. पा जी कामत फौंडेशन, एरणाकुळम.
                li അന്ത്യേഷ്ടി. (2014). എ ആര് ബാലകൃഷ്ണ പ്രഭു. Self Published.
                li കൊങ്കണി നമ്മുടെ മാതൃഭാഷാ. (1993). ശരത്ചന്ദ്രഷേണായ്. ദിശ ഇൻസ്റ്റിറ്റ്യൂട്ട് ഓഫ് കൊങ്കണി, കൊച്ചി.
                li കൊങ്കണി പാചക സഹായി. (2004). ശ്രീമതി സുശീല ത്രിവിക്രമ ഭട്ട്. ജി എസ് ബി മഹാസമ്മേളനം, കൊചി.
                li കൊങ്കണി ഭാഷാ പഠന സഹായി. (2012). ശരത്ചന്ദ്രഷേണായ്. സുകൃതീന്ദ്ര ഓറിയൻ്റൽ റിസര്ച്ച് ഇൻസ്റ്റിസ്റ്റ്യൂട്ട്, കൊച്ചി.
                li മലയാളം-കൊങ്കണി ക്രിയാപദാവലി. (2014). ശരത്ചന്ദ്രഷേണായ്. എസ് ജി എസ് സഭാ, കോഴിക്കോട്.
                li സമ്പൂര്ണ്ണ ഷോഡശ സംസ്കാരങ്ങൾ. (2007). എ ആര് ബാലകൃഷ്ണ പ്രഭു. വൈഷ്ണവ് രത്ന്, കാരണകോടം.
                li സാരസ്വത ബ്രാഹ്മണരുടെ മൂലസ്ഥാനവും അവരുടെ പ്രയാണങ്ങളും. (2014). എ ആര് ബാലകൃഷ്ണ പ്രഭു. Self Published.
            h3 Magazines
            ul.bibliography
                li कोंकण जनता. आर सुभाषचंद्र प्रभू, गौड सारस्वत असोसियेशन, कोची.
                li दिवटी. केरळा कोंकणी अकाडमी, कोची.
                li सारस्वत वाणी. संयुक्त गौड सारस्वत सभा, कोषिकोड.
                li स्पंदन. केरळा कोंकणी अकाडमी, कोची.
                li वैष्णव रत्न. वी आनन्द भट, कारणकोड. 
            h3 Websites
            ul.bibliography
                li 
                    a(href="https://www.wikipedia.org") wikipedia.org
                li 
                    a(href="https://thesaurus.com") thesaurus.com
                li 
                    a(href="https://shabdkosh.com") shabdkosh.com
                li 
                    a(href="http://spokensanskrit.org") spokensanskrit.org
                li 
                    a(href="https://konkanifestivals.wordpress.com") konkanifestivals.wordpress.com
            span and many more.