extends layout.pug   

block content
    div.flex-container
        div.row.narrow-width
                h2 About
                div This tool is a humble attempt at collating a repository of Konkani words spoken in Kerala. It was collected by #[b Surya Ashok] by consulting a large number of people in her circles. Important contributors include: A, B and C.

                br

                h2 Suggest
                div If you would like to contribute a new word to the repository, we would be glad to hear from you. Please write to #[b dict@suryaashok.in].