extends layout.pug   

block content
    div.flex-container
        div.row.narrow-width
            h2 Contact
            div If you would like to contribute a new word to the repository, we would be glad to hear from you. Please write to #[b dict@suryaashok.in].

    nav.fixed-bottom.navbar.navbar-expand-md.navbar-light.bg-light(style="background-color: #e3f2fd;")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarToggler")
            a.navbar-brand(href="/", style="color: #000; font-weight: 500;") दक्षिण कोंकणी उतरावळि
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Search
                li.nav-item
                    a.nav-link(href="/contents") Contents
                li.nav-item
                    a.nav-link(href="/suggest") Suggest
                li.nav-item
                    a.nav-link(href="/about") About    
                li.nav-item
                    a.nav-link.active(href="/contact") Contact