extends layout.pug   

block content
    div.contents-container
        div.flex-inner-p25
            h2 Contents
            ul.contents-accordion(style="list-style-type:none")
                li.expandable
                    a.contents-toggle(href="javascript:void(0);") ﻿Living things
                    ul.inner(style="list-style-type:none")
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Animal kingdom
                            ul.inner(style="list-style-type:none")
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Animals
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/mammal") Mammal
                                        li
                                            a.contents-toggle(href="/category/bird") Bird
                                        li
                                            a.contents-toggle(href="/category/reptiles and amphibians") Reptiles and amphibians
                                        li
                                            a.contents-toggle(href="/category/arthropods") Arthropods
                                        li
                                            a.contents-toggle(href="/category/aquatic animals") Aquatic animals
                                        li
                                            a.contents-toggle(href="/category/worms and snails") Worms and snails
                                li
                                    a.contents-toggle(href="/category/body parts of animals") Body parts of animals
                                li
                                    a.contents-toggle(href="/category/animal sounds") Animal sounds
                                li
                                    a.contents-toggle(href="/category/excreta of animals") Excreta of animals
                                li
                                    a.contents-toggle(href="/category/animal homes") Animal homes
                                li
                                    a.contents-toggle(href="/category/animal brood") Animal brood
                                li
                                    a.contents-toggle(href="/category/other words related to animals") Other words related to animals
                                li
                                    a.contents-toggle(href="/category/adjective related to animals") Adjective related to animals
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Human beings
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/parts of human body") Parts of human body
                                li
                                    a.contents-toggle(href="/category/secretions and excretions") Secretions and excretions
                                li
                                    a.contents-toggle(href="/category/disease, illness, malady") Disease, illness, malady
                                li
                                    a.contents-toggle(href="/category/symptoms and other disorders") Symptoms and other disorders
                                li
                                    a.contents-toggle(href="/category/words related to hair") Words related to hair
                                li
                                    a.contents-toggle(href="/category/words related to skin") Words related to skin
                                li
                                    a.contents-toggle(href="/category/words describing features of body") Words describing features of body
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Plant kingdom
                            ul.inner(style="list-style-type:none")
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Plant life
                                    ul.inner(style="list-style-type:none")
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Flowering plants
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/flowering trees") Flowering trees
                                                li
                                                    a.contents-toggle(href="/category/flowering shrubs and herbs") Flowering shrubs and herbs
                                                li
                                                    a.contents-toggle(href="/category/flowering creepers, bushes") Flowering creepers, bushes
                                                li
                                                    a.contents-toggle(href="/category/flowering aquatic plants") Flowering aquatic plants
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Fruit plants
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/fruit and nut trees") Fruit and nut trees
                                                li
                                                    a.contents-toggle(href="/category/fruit bearing creepers and vines") Fruit bearing creepers and vines
                                        li
                                            a.contents-toggle(href="/category/grain and pulses") Grain and pulses
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Medicinal plants
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/medicinal trees") Medicinal trees
                                                li
                                                    a.contents-toggle(href="/category/medicinal shrubs, small trees") Medicinal shrubs, small trees
                                                li
                                                    a.contents-toggle(href="/category/medicinal herbs") Medicinal herbs
                                                li
                                                    a.contents-toggle(href="/category/medicinal creepers and vines") Medicinal creepers and vines
                                        li
                                            a.contents-toggle(href="/category/millets") Millets
                                        li
                                            a.contents-toggle(href="/category/oilseeds") Oilseeds
                                        li
                                            a.contents-toggle(href="/category/spices") Spices
                                        li
                                            a.contents-toggle(href="/category/timber trees") Timber trees
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Vegetables
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/leafy vegetables") Leafy vegetables
                                                li
                                                    a.contents-toggle(href="/category/vegetables on shrubs") Vegetables on shrubs
                                                li
                                                    a.contents-toggle(href="/category/vegetables from trees") Vegetables from trees
                                                li
                                                    a.contents-toggle(href="/category/vegetables from creepers, climbers") Vegetables from creepers, climbers
                                                li
                                                    a.contents-toggle(href="/category/tubers, corms and bulbs used as vegetables") Tubers, corms and bulbs used as vegetables
                                        li
                                            a.contents-toggle(href="/category/other useful trees, shrubs") Other useful trees, shrubs
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Plant Parts
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/parts of plants") Parts of plants
                                        li
                                            a.contents-toggle(href="/category/parts of jackfruit tree") Parts of jackfruit tree
                                        li
                                            a.contents-toggle(href="/category/parts of plantain tree") Parts of plantain tree
                                        li
                                            a.contents-toggle(href="/category/parts of betel palm") Parts of betel palm
                                        li
                                            a.contents-toggle(href="/category/parts of a coconut palm") Parts of a coconut palm
                                        li
                                            a.contents-toggle(href="/category/parts of a mango tree") Parts of a mango tree
                                        li
                                            a.contents-toggle(href="/category/parts of paddy") Parts of paddy
                                li
                                    a.contents-toggle(href="/category/other words related to plants") Other words related to plants
                li.expandable
                    a.contents-toggle(href="javascript:void(0);") Non-living things
                    ul.inner(style="list-style-type:none")
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Clothing and jewellery
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/apparel and foot wear") Apparel and foot wear
                                li
                                    a.contents-toggle(href="/category/types of sarees") Types of sarees
                                li
                                    a.contents-toggle(href="/category/other words related to apparel") Other words related to apparel
                                li
                                    a.contents-toggle(href="/category/fabric, cloth") Fabric, cloth
                                li
                                    a.contents-toggle(href="/category/jewellery") Jewellery
                                li
                                    a.contents-toggle(href="/category/gems") Gems
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Housing and living
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/buildings") Buildings
                                li
                                    a.contents-toggle(href="/category/parts of a house or building") Parts of a house or building
                                li
                                    a.contents-toggle(href="/category/rooms of a house") Rooms of a house
                                li
                                    a.contents-toggle(href="/category/prayer room") Prayer room
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Inside house
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/furniture") Furniture
                                        li
                                            a.contents-toggle(href="/category/other items inside house") Other items inside house
                                        li
                                            a.contents-toggle(href="/category/sleeping paraphernalia in bedroom") Sleeping paraphernalia in bedroom
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Kitchen
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/cooking oils") Cooking oils
                                        li
                                            a.contents-toggle(href="/category/grocery etc.") Grocery etc.
                                        li
                                            a.contents-toggle(href="/category/other items in kitchen") Other items in kitchen
                                        li
                                            a.contents-toggle(href="/category/residue, remnants") Residue, remnants
                                        li
                                            a.contents-toggle(href="/category/utensils and accessories") Utensils and accessories
                                li
                                    a.contents-toggle(href="/category/bath room") Bath room
                                li
                                    a.contents-toggle(href="/category/tools, instruments, weapons") Tools, instruments, weapons
                                li
                                    a.contents-toggle(href="/category/outside house") Outside house
                li.expandable
                    a.contents-toggle(href="javascript:void(0);") Language, food and culture
                    ul.inner(style="list-style-type:none")
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Language
                            ul.inner(style="list-style-type:none")
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Baby language
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/baby language nouns") Baby language nouns
                                        li
                                            a.contents-toggle(href="/category/baby language verbs") Baby language verbs
                                        li
                                            a.contents-toggle(href="/category/affectionate words for baby's body parts") Affectionate words for baby's body parts
                                li
                                    a.contents-toggle(href="/category/words of address") Words of address
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Compound words
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/compound adjectives") Compound adjectives
                                        li
                                            a.contents-toggle(href="/category/compound adverbs") Compound adverbs
                                        li
                                            a.contents-toggle(href="/category/compound nouns") Compound nouns
                                li
                                    a.contents-toggle(href="/category/echo words") Echo words
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Lexical doublets
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/lexical doublet adjectives") Lexical doublet adjectives
                                        li
                                            a.contents-toggle(href="/category/lexical doublet adverbs") Lexical doublet adverbs
                                        li
                                            a.contents-toggle(href="/category/lexical doublet nouns") Lexical doublet nouns
                                li
                                    a.contents-toggle(href="/category/proverbs") Proverbs
                                li
                                    a.contents-toggle(href="/category/phrases") Phrases
                                li
                                    a.contents-toggle(href="/category/riddles") Riddles
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Replicative words
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/adjective-adjective replication1") Adjective-adjective replication1
                                        li
                                            a.contents-toggle(href="/category/adjective-adjective replication2") Adjective-adjective replication2
                                        li
                                            a.contents-toggle(href="/category/adverb-adverb replication") Adverb-adverb replication
                                        li
                                            a.contents-toggle(href="/category/focus function replication") Focus function replication
                                        li
                                            a.contents-toggle(href="/category/noun-noun reduplication: quantitative 1") Noun-noun reduplication: quantitative 1
                                        li
                                            a.contents-toggle(href="/category/noun-noun reduplication: quantitative 2") Noun-noun reduplication: quantitative 2
                                        li
                                            a.contents-toggle(href="/category/noun-noun reduplication: quantitative 3") Noun-noun reduplication: quantitative 3
                                        li
                                            a.contents-toggle(href="/category/numeral numeral replication") Numeral numeral replication
                                        li
                                            a.contents-toggle(href="/category/possessive replication") Possessive replication
                                        li
                                            a.contents-toggle(href="/category/verb-verb replication") Verb-verb replication
                                li
                                    a.contents-toggle(href="/category/simile") Simile
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Grammar
                                    ul.inner(style="list-style-type:none")
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Adjectives
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/adjectives for action") Adjectives for action
                                                li
                                                    a.contents-toggle(href="/category/adjectives for age") Adjectives for age
                                                li
                                                    a.contents-toggle(href="/category/adjectives for appearance") Adjectives for appearance
                                                li
                                                    a.contents-toggle(href="/category/adjectives for circumstances") Adjectives for circumstances
                                                li
                                                    a.contents-toggle(href="/category/adjectives for colour") Adjectives for colour
                                                li
                                                    a.contents-toggle(href="/category/adjectives for condition of food") Adjectives for condition of food
                                                li
                                                    a.contents-toggle(href="/category/adjectives for condition of nature") Adjectives for condition of nature
                                                li
                                                    a.contents-toggle(href="/category/adjectives for condition of objects") Adjectives for condition of objects
                                                li
                                                    a.contents-toggle(href="/category/adjectives for condition of person") Adjectives for condition of person
                                                li
                                                    a.contents-toggle(href="/category/adjectives for condition of place") Adjectives for condition of place
                                                li
                                                    a.contents-toggle(href="/category/adjectives for direction") Adjectives for direction
                                                li
                                                    a.contents-toggle(href="/category/adjectives for domicile") Adjectives for domicile
                                                li
                                                    a.contents-toggle(href="/category/adjectives for emotion or feeling") Adjectives for emotion or feeling
                                                li
                                                    a.contents-toggle(href="/category/adjectives for features for nature") Adjectives for features for nature
                                                li
                                                    a.contents-toggle(href="/category/adjectives for features of food") Adjectives for features of food
                                                li
                                                    a.contents-toggle(href="/category/adjectives for features of objects") Adjectives for features of objects
                                                li
                                                    a.contents-toggle(href="/category/adjectives for general location") Adjectives for general location
                                                li
                                                    a.contents-toggle(href="/category/adjectives for location on body") Adjectives for location on body
                                                li
                                                    a.contents-toggle(href="/category/adjectives for material") Adjectives for material
                                                li
                                                    a.contents-toggle(href="/category/adjectives for opinion, perception, impression") Adjectives for opinion, perception, impression
                                                li
                                                    a.contents-toggle(href="/category/adjectives for personality") Adjectives for personality
                                                li
                                                    a.contents-toggle(href="/category/adjectives for position") Adjectives for position
                                                li
                                                    a.contents-toggle(href="/category/adjectives for purpose") Adjectives for purpose
                                                li
                                                    a.contents-toggle(href="/category/adjectives for quantity") Adjectives for quantity
                                                li
                                                    a.contents-toggle(href="/category/adjectives for relation") Adjectives for relation
                                                li
                                                    a.contents-toggle(href="/category/adjectives for shapes and patterns") Adjectives for shapes and patterns
                                                li
                                                    a.contents-toggle(href="/category/adjectives for situations") Adjectives for situations
                                                li
                                                    a.contents-toggle(href="/category/adjectives for size") Adjectives for size
                                                li
                                                    a.contents-toggle(href="/category/adjectives for smell") Adjectives for smell
                                                li
                                                    a.contents-toggle(href="/category/adjectives for sound") Adjectives for sound
                                                li
                                                    a.contents-toggle(href="/category/adjectives for speed") Adjectives for speed
                                                li
                                                    a.contents-toggle(href="/category/adjectives for taste") Adjectives for taste
                                                li
                                                    a.contents-toggle(href="/category/adjectives for temperature") Adjectives for temperature
                                                li
                                                    a.contents-toggle(href="/category/adjectives for time period") Adjectives for time period
                                                li
                                                    a.contents-toggle(href="/category/adjectives for topography") Adjectives for topography
                                                li
                                                    a.contents-toggle(href="/category/adjectives for touch") Adjectives for touch
                                                li
                                                    a.contents-toggle(href="/category/adjectives for traits") Adjectives for traits
                                                li
                                                    a.contents-toggle(href="/category/adjectives for type") Adjectives for type
                                                li
                                                    a.contents-toggle(href="/category/adjectives for weight") Adjectives for weight
                                                li
                                                    a.contents-toggle(href="/category/complimentary adjectives") Complimentary adjectives
                                                li
                                                    a.contents-toggle(href="/category/definite numeral adjectives") Definite numeral adjectives
                                                li
                                                    a.contents-toggle(href="/category/demonstrative adjectives") Demonstrative adjectives
                                                li
                                                    a.contents-toggle(href="/category/indefinite numeral adjectives") Indefinite numeral adjectives
                                                li
                                                    a.contents-toggle(href="/category/other miscellaneous adjectives") Other miscellaneous adjectives
                                                li
                                                    a.contents-toggle(href="/category/other miscellaneous adjectives shared with other indian languages") Other miscellaneous adjectives shared with other indian languages
                                                li
                                                    a.contents-toggle(href="/category/possessive adjectives") Possessive adjectives
                                                li
                                                    a.contents-toggle(href="/category/some adjectives from sanskrit used in konkani") Some adjectives from sanskrit used in konkani
                                                li
                                                    a.contents-toggle(href="/category/some other miscellaneous adjectives shared with indian languages with konkanised spellings") Some other miscellaneous adjectives shared with indian languages with konkanised spellings
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Adverbs
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/adverbs of certainity") Adverbs of certainity
                                                li
                                                    a.contents-toggle(href="/category/adverbs of degree or measure") Adverbs of degree or measure
                                                li
                                                    a.contents-toggle(href="/category/adverbs of frequency") Adverbs of frequency
                                                li
                                                    a.contents-toggle(href="/category/adverbs of manner") Adverbs of manner
                                                li
                                                    a.contents-toggle(href="/category/adverbs of place") Adverbs of place
                                                li
                                                    a.contents-toggle(href="/category/adverbs of time") Adverbs of time
                                                li
                                                    a.contents-toggle(href="/category/misc adverbs") Misc adverbs
                                        li
                                            a.contents-toggle(href="/category/case") Case
                                        li
                                            a.contents-toggle(href="/category/indefinite pronouns") Indefinite pronouns
                                        li
                                            a.contents-toggle(href="/category/interrogative words") Interrogative words
                                        li
                                            a.contents-toggle(href="/category/interrogative phrases") Interrogative phrases
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Nouns
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/abstract nouns") Abstract nouns
                                                li
                                                    a.contents-toggle(href="/category/collective noun") Collective noun
                                                li
                                                    a.contents-toggle(href="/category/common nouns") Common nouns
                                                li
                                                    a.contents-toggle(href="/category/community nouns") Community nouns
                                                li
                                                    a.contents-toggle(href="/category/countable nouns for aperture") Countable nouns for aperture
                                                li
                                                    a.contents-toggle(href="/category/mass nouns or uncountable nouns") Mass nouns or uncountable nouns
                                                li
                                                    a.contents-toggle(href="/category/nouns based on form") Nouns based on form
                                                li
                                                    a.contents-toggle(href="/category/nouns denoting portion, share etc.") Nouns denoting portion, share etc.
                                                li
                                                    a.contents-toggle(href="/category/nouns for punishment") Nouns for punishment
                                                li
                                                    a.contents-toggle(href="/category/nouns related to dimension and state") Nouns related to dimension and state
                                                li
                                                    a.contents-toggle(href="/category/nouns shared with other indian languages with konkanised spellings") Nouns shared with other indian languages with konkanised spellings
                                                li
                                                    a.contents-toggle(href="/category/occupational nouns") Occupational nouns
                                                li.expandable
                                                    a.contents-toggle(href="javascript:void(0);") Sensory nouns
                                                    ul.inner(style="list-style-type:none")
                                                        li
                                                            a.contents-toggle(href="/category/sensory nouns related to sight/appearance") Sensory nouns related to sight/appearance
                                                        li
                                                            a.contents-toggle(href="/category/sensory nouns related to smell") Sensory nouns related to smell
                                                        li
                                                            a.contents-toggle(href="/category/sensory nouns related to sound") Sensory nouns related to sound
                                                        li
                                                            a.contents-toggle(href="/category/sensory nouns related to taste") Sensory nouns related to taste
                                                        li
                                                            a.contents-toggle(href="/category/sensory nouns related to touch") Sensory nouns related to touch
                                                li
                                                    a.contents-toggle(href="/category/special trait nouns") Special trait nouns
                                                li
                                                    a.contents-toggle(href="/category/trait noun") Trait noun
                                                li
                                                    a.contents-toggle(href="/category/uncountable nouns") Uncountable nouns
                                                li
                                                    a.contents-toggle(href="/category/verbal noun") Verbal noun
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Onomatopoepic words
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/onomatopoepic adjectives") Onomatopoepic adjectives
                                                li
                                                    a.contents-toggle(href="/category/onomatopoepic adverbs") Onomatopoepic adverbs
                                                li
                                                    a.contents-toggle(href="/category/onomatopoepic nouns") Onomatopoepic nouns
                                                li.expandable
                                                    a.contents-toggle(href="javascript:void(0);") Onomatopoepic verbs
                                                    ul.inner(style="list-style-type:none")
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter क") Onomatopoepic verbs starting with letter क
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter ख") Onomatopoepic verbs starting with letter ख
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter ग") Onomatopoepic verbs starting with letter ग
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter घ") Onomatopoepic verbs starting with letter घ
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter च") Onomatopoepic verbs starting with letter च
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letters छ, ज and झ") Onomatopoepic verbs starting with letters छ, ज and झ
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letters ट, ठ and ड") Onomatopoepic verbs starting with letters ट, ठ and ड
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letters त, थ, द, ध and न") Onomatopoepic verbs starting with letters त, थ, द, ध and न
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter प") Onomatopoepic verbs starting with letter प
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter फ") Onomatopoepic verbs starting with letter फ
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letters ब and भ") Onomatopoepic verbs starting with letters ब and भ
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter म") Onomatopoepic verbs starting with letter म
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letters य, र and ल") Onomatopoepic verbs starting with letters य, र and ल
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter व") Onomatopoepic verbs starting with letter व
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letters श, स and ष") Onomatopoepic verbs starting with letters श, स and ष
                                                        li
                                                            a.contents-toggle(href="/category/onomatopoepic verbs starting with letter ह") Onomatopoepic verbs starting with letter ह
                                        li
                                            a.contents-toggle(href="/category/opposites") Opposites
                                        li
                                            a.contents-toggle(href="/category/pronouns") Pronouns
                                        li
                                            a.contents-toggle(href="/category/singular-plural") Singular-plural
                                        li
                                            a.contents-toggle(href="/category/transitional words") Transitional words
                                        li.expandable
                                            a.contents-toggle(href="javascript:void(0);") Verb
                                            ul.inner(style="list-style-type:none")
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter अ") Verbs starting with letter अ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter आ") Verbs starting with letter आ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters इ,ई and उ") Verbs starting with letters इ,ई and उ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ऊ") Verbs starting with letter ऊ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters ए, ऐ, ओ and औ") Verbs starting with letters ए, ऐ, ओ and औ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter क") Verbs starting with letter क
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter का") Verbs starting with letter का
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters कि and की") Verbs starting with letters कि and की
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters कु and कू") Verbs starting with letters कु and कू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters के, को and कौ") Verbs starting with letters के, को and कौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ख") Verbs starting with letter ख
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter खा") Verbs starting with letter खा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters खि and खी") Verbs starting with letters खि and खी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters खु, खू, खे,and खै") Verbs starting with letters खु, खू, खे,and खै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters खो and खौ") Verbs starting with letters खो and खौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ग") Verbs starting with letter ग
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter गा") Verbs starting with letter गा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters गि, गी, गु and गू") Verbs starting with letters गि, गी, गु and गू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters गो and गौ") Verbs starting with letters गो and गौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter घ") Verbs starting with letter घ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter घा") Verbs starting with letter घा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter घु and घू") Verbs starting with letter घु and घू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters घे, घै, घो and घौ") Verbs starting with letters घे, घै, घो and घौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter च") Verbs starting with letter च
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter चा") Verbs starting with letter चा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters चि and ची") Verbs starting with letters चि and ची
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters चु, चू,चे and चै") Verbs starting with letters चु, चू,चे and चै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters चो and चौ") Verbs starting with letters चो and चौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter छ") Verbs starting with letter छ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ज") Verbs starting with letter ज
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter जा") Verbs starting with letter जा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters जि and जी") Verbs starting with letters जि and जी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters जु, जू, जे and जै") Verbs starting with letters जु, जू, जे and जै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters जो and जौ") Verbs starting with letters जो and जौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters झ and झा") Verbs starting with letters झ and झा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters झि, झी, झु, झू, झे, झै, झो and झौ") Verbs starting with letters झि, झी, झु, झू, झे, झै, झो and झौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ट") Verbs starting with letter ट
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ड") Verbs starting with letter ड
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ढ") Verbs starting with letter ढ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter त") Verbs starting with letter त
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ता") Verbs starting with letter ता
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters ति, ती, तु and तू") Verbs starting with letters ति, ती, तु and तू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters तृ, ते, तै, तो and तौ") Verbs starting with letters तृ, ते, तै, तो and तौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter थ") Verbs starting with letter थ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters द and दा") Verbs starting with letters द and दा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters दि and दी") Verbs starting with letters दि and दी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters दु and दू") Verbs starting with letters दु and दू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters दे, दै, दो and दौ") Verbs starting with letters दे, दै, दो and दौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters ध and धा") Verbs starting with letters ध and धा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters धि,धी,धु and धू") Verbs starting with letters धि,धी,धु and धू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters धे, धै, धो and धौ") Verbs starting with letters धे, धै, धो and धौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters न and ना") Verbs starting with letters न and ना
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter नि") Verbs starting with letter नि
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter नी") Verbs starting with letter नी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters नु, नू, ने, नै, नो and नौ") Verbs starting with letters नु, नू, ने, नै, नो and नौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter न्ह") Verbs starting with letter न्ह
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter प") Verbs starting with letter प
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter पा") Verbs starting with letter पा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter पि") Verbs starting with letter पि
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter पी") Verbs starting with letter पी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter पु") Verbs starting with letter पु
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter पू") Verbs starting with letter पू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters पे and पै") Verbs starting with letters पे and पै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters पो and पौ") Verbs starting with letters पो and पौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter प्र") Verbs starting with letter प्र
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter फ") Verbs starting with letter फ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter फा") Verbs starting with letter फा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters फि, फी, फु and फू") Verbs starting with letters फि, फी, फु and फू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters फे, फै, फो and फौ") Verbs starting with letters फे, फै, फो and फौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ब") Verbs starting with letter ब
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter बा") Verbs starting with letter बा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters बि, बी, बु and बू") Verbs starting with letters बि, बी, बु and बू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters बे and बै") Verbs starting with letters बे and बै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters बो and बौ") Verbs starting with letters बो and बौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters भ and भा") Verbs starting with letters भ and भा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters भि and भी") Verbs starting with letters भि and भी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters भु and भू") Verbs starting with letters भु and भू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters भे, भै, भो and भौ") Verbs starting with letters भे, भै, भो and भौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter म") Verbs starting with letter म
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter मा") Verbs starting with letter मा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters मि and मी") Verbs starting with letters मि and मी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters मु and मू") Verbs starting with letters मु and मू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters मृ, मे and मै") Verbs starting with letters मृ, मे and मै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters मो, मौ and म्ह") Verbs starting with letters मो, मौ and म्ह
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter य") Verbs starting with letter य
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter र") Verbs starting with letter र
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters रा") Verbs starting with letters रा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters रि and री") Verbs starting with letters रि and री
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters रु, रू, रे, रै, रो and रौ") Verbs starting with letters रु, रू, रे, रै, रो and रौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ल") Verbs starting with letter ल
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter ला") Verbs starting with letter ला
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters लि, ली, ले and लै") Verbs starting with letters लि, ली, ले and लै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters लो, लौ and ल्ह") Verbs starting with letters लो, लौ and ल्ह
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter व") Verbs starting with letter व
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter वा") Verbs starting with letter वा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters वि and वी") Verbs starting with letters वि and वी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters वे and वै") Verbs starting with letters वे and वै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters वो and वौ") Verbs starting with letters वो and वौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter व्ह") Verbs starting with letter व्ह
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter श") Verbs starting with letter श
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters शि and शी") Verbs starting with letters शि and शी
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters शु, शू, शे and शै") Verbs starting with letters शु, शू, शे and शै
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters शो, शौ, श्र and श्व") Verbs starting with letters शो, शौ, श्र and श्व
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter स") Verbs starting with letter स
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter सा") Verbs starting with letter सा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters सि, सी, सु and सू") Verbs starting with letters सि, सी, सु and सू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters से, सै, सो and सौ") Verbs starting with letters से, सै, सो and सौ
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters स्त, स्थ, स्फ and स्व") Verbs starting with letters स्त, स्थ, स्फ and स्व
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letter हverbs starting with letter हा") Verbs starting with letter हverbs starting with letter हा
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters हि, ही, हु आनी हू") Verbs starting with letters हि, ही, हु आनी हू
                                                li
                                                    a.contents-toggle(href="/category/verbs starting with letters हे, है, हो and हौ") Verbs starting with letters हे, है, हो and हौ
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Food
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/cooked food") Cooked food
                                li
                                    a.contents-toggle(href="/category/water and beverages") Water and beverages
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Sweets
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/sweet food items") Sweet food items
                                        li
                                            a.contents-toggle(href="/category/sweet ball undo") Sweet ball undo
                                        li
                                            a.contents-toggle(href="/category/sweet flat bread purnapoli") Sweet flat bread purnapoli
                                        li
                                            a.contents-toggle(href="/category/jelly like sweet halvo") Jelly like sweet halvo
                                        li
                                            a.contents-toggle(href="/category/soft sweet dudhali") Soft sweet dudhali
                                        li
                                            a.contents-toggle(href="/category/soft sweet pongolu") Soft sweet pongolu
                                        li
                                            a.contents-toggle(href="/category/semolina pudding sheeren") Semolina pudding sheeren
                                        li
                                            a.contents-toggle(href="/category/sweet ball mooliku") Sweet ball mooliku
                                        li
                                            a.contents-toggle(href="/category/sweet flat dumpling pathali") Sweet flat dumpling pathali
                                        li
                                            a.contents-toggle(href="/category/sweet mix") Sweet mix
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Sweet puddings
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/sweet pudding with jaggery or sugar") Sweet pudding with jaggery or sugar
                                        li
                                            a.contents-toggle(href="/category/sweet pudding kakkambi") Sweet pudding kakkambi
                                        li
                                            a.contents-toggle(href="/category/sweet pudding paaysu") Sweet pudding paaysu
                                        li
                                            a.contents-toggle(href="/category/sweet pudding kheeri") Sweet pudding kheeri
                                        li
                                            a.contents-toggle(href="/category/sweet and savoury dishes") Sweet and savoury dishes
                                        li
                                            a.contents-toggle(href="/category/sweet dishes") Sweet dishes
                                        li
                                            a.contents-toggle(href="/category/sweet savoury dish god ambat") Sweet savoury dish god ambat
                                        li
                                            a.contents-toggle(href="/category/sweet dish god sassam") Sweet dish god sassam
                                        li
                                            a.contents-toggle(href="/category/thin sweet dish god humman") Thin sweet dish god humman
                                        li
                                            a.contents-toggle(href="/category/sweet savoury dish godi ghashi") Sweet savoury dish godi ghashi
                                        li
                                            a.contents-toggle(href="/category/sweet savoury dry dish morgelu") Sweet savoury dry dish morgelu
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Deep fried food items
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/deep fried snacks") Deep fried snacks
                                        li
                                            a.contents-toggle(href="/category/spicy deep fried fritter of chickpea batter") Spicy deep fried fritter of chickpea batter
                                        li
                                            a.contents-toggle(href="/category/deep fried dry snacks") Deep fried dry snacks
                                        li
                                            a.contents-toggle(href="/category/deep fried chips") Deep fried chips
                                        li
                                            a.contents-toggle(href="/category/deep fried finger chips") Deep fried finger chips
                                        li
                                            a.contents-toggle(href="/category/spicy deep fried fritter of rice flour") Spicy deep fried fritter of rice flour
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Steamed cakes and pancakes
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/indian pancake polo") Indian pancake polo
                                        li
                                            a.contents-toggle(href="/category/steamed cakes") Steamed cakes
                                li
                                    a.contents-toggle(href="/category/moist snacks") Moist snacks
                                li
                                    a.contents-toggle(href="/category/variety of cooked rice") Variety of cooked rice
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Main dishes
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/spiced curry used to mix with rice") Spiced curry used to mix with rice
                                        li
                                            a.contents-toggle(href="/category/weak slightly sour dish with coconut pulchikari") Weak slightly sour dish with coconut pulchikari
                                        li
                                            a.contents-toggle(href="/category/main curry or dish holli ravndai") Main curry or dish holli ravndai
                                        li
                                            a.contents-toggle(href="/category/main curry or dish ambat") Main curry or dish ambat
                                        li
                                            a.contents-toggle(href="/category/main curry or dish dhavi ghashi") Main curry or dish dhavi ghashi
                                        li
                                            a.contents-toggle(href="/category/main curry or dish alchikari") Main curry or dish alchikari
                                        li
                                            a.contents-toggle(href="/category/main curry or dish with a roasted and ground coconut masala") Main curry or dish with a roasted and ground coconut masala
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Sub dishes
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/sub curry or dish") Sub curry or dish
                                        li
                                            a.contents-toggle(href="/category/sub dish sassam") Sub dish sassam
                                        li
                                            a.contents-toggle(href="/category/sub dish pachati") Sub dish pachati
                                        li
                                            a.contents-toggle(href="/category/wet sub dish pathal sukken") Wet sub dish pathal sukken
                                        li
                                            a.contents-toggle(href="/category/side dish") Side dish
                                        li
                                            a.contents-toggle(href="/category/coconut based stir fry sukke sukken") Coconut based stir fry sukke sukken
                                        li
                                            a.contents-toggle(href="/category/dry sub dish sukken") Dry sub dish sukken
                                        li
                                            a.contents-toggle(href="/category/salad or cold dish gojju") Salad or cold dish gojju
                                        li
                                            a.contents-toggle(href="/category/cold dish polthen") Cold dish polthen
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Hot spicy pickle and stuff
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/fresh sour fruits seasoned") Fresh sour fruits seasoned
                                        li
                                            a.contents-toggle(href="/category/wet pickle") Wet pickle
                                        li
                                            a.contents-toggle(href="/category/dry pickle") Dry pickle
                                        li
                                            a.contents-toggle(href="/category/fresh pickle") Fresh pickle
                                        li
                                            a.contents-toggle(href="/category/squeezed pickle") Squeezed pickle
                                        li
                                            a.contents-toggle(href="/category/pounded and crushed pickle") Pounded and crushed pickle
                                        li
                                            a.contents-toggle(href="/category/fresh pickle with fried vegetables") Fresh pickle with fried vegetables
                                        li
                                            a.contents-toggle(href="/category/spicy hot curry") Spicy hot curry
                                        li
                                            a.contents-toggle(href="/category/cured and dried") Cured and dried
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Dried and deep fried items
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/sun dried fritters") Sun dried fritters
                                        li
                                            a.contents-toggle(href="/category/cured, dried and deep fried") Cured, dried and deep fried
                                        li
                                            a.contents-toggle(href="/category/crispy thin cracker dried and deep friedculture") Crispy thin cracker dried and deep friedCulture
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Culture
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/shodasha samskar or 16 rites of passage") Shodasha samskar or 16 rites of passage
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Marriage
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/words related to marriage ceremony") Words related to marriage ceremony
                                        li
                                            a.contents-toggle(href="/category/verbs related to pre wedding") Verbs related to pre wedding
                                        li
                                            a.contents-toggle(href="/category/verbs related to wedding") Verbs related to wedding
                                        li
                                            a.contents-toggle(href="/category/post wedding verbs") Post wedding verbs
                                        li
                                            a.contents-toggle(href="/category/astamangalya अष्टमंगल्य") Astamangalya अष्टमंगल्य
                                        li
                                            a.contents-toggle(href="/category/varadakshina वरदक्षिणा") Varadakshina वरदक्षिणा
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") upanayanam
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/words related to upanayanam") words related to upanayanam
                                        li
                                            a.contents-toggle(href="/category/verbs related to upanayanam") Verbs related to upanayanam
                                li
                                    a.contents-toggle(href="/category/other ritual related verbs") Other ritual related verbs
                                li
                                    a.contents-toggle(href="/category/other minor rites") Other minor rites
                                li
                                    a.contents-toggle(href="/category/death ceremony") Death ceremony
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Other rituals and poojas
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/rangoli at tulasi (tulasikade baravap)") Rangoli at tulasi (Tulasikade baravap)
                                        li
                                            a.contents-toggle(href="/category/various marks") Various marks
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Festivals
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/festivals celebrated at home") Festivals celebrated at home
                                        li
                                            a.contents-toggle(href="/category/festivals celebrated at temples") Festivals celebrated at temples
                                        li
                                            a.contents-toggle(href="/category/other celebrations") Other celebrations
                                        li
                                            a.contents-toggle(href="/category/community festivals") Community festivals
                                        li
                                            a.contents-toggle(href="/category/special food items made at homes on festival days") Special food items made at homes on festival days
                                        li
                                            a.contents-toggle(href="/category/verbs related to customs and rituals") Verbs related to customs and rituals
                                        li
                                            a.contents-toggle(href="/category/lengthy periods of worship") Lengthy periods of worship
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Temple
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/words related to temple") Words related to temple
                                        li
                                            a.contents-toggle(href="/category/verbs related to temple") Verbs related to temple
                                        li
                                            a.contents-toggle(href="/category/parts of a temple") Parts of a temple
                                        li
                                            a.contents-toggle(href="/category/items used in temple") Items used in temple
                                        li
                                            a.contents-toggle(href="/category/nivedhyams in temple") Nivedhyams in temple
                                        li
                                            a.contents-toggle(href="/category/temple festival aaratu") Temple festival aaratu
                                        li
                                            a.contents-toggle(href="/category/gsb temples in kerala") Gsb temples in Kerala
                                li
                                    a.contents-toggle(href="/category/swamiji") Swamiji
                                li.expandable
                                    a.contents-toggle(href="javascript:void(0);") Relation
                                    ul.inner(style="list-style-type:none")
                                        li
                                            a.contents-toggle(href="/category/gotras") Gotras
                                        li
                                            a.contents-toggle(href="/category/relationship") Relationship
                                        li
                                            a.contents-toggle(href="/category/other nouns for relation") Other nouns for relation
                li.expandable
                    a.contents-toggle(href="javascript:void(0);") Time and space
                    ul.inner(style="list-style-type:none")
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Astrology and astronomy
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/nine planets of astrology") Nine planets of astrology
                                li
                                    a.contents-toggle(href="/category/nine planets of solar system") Nine planets of solar system
                                li
                                    a.contents-toggle(href="/category/corresponding western zodiac for hindu astrological stars") Corresponding western zodiac for hindu astrological stars
                        li
                            a.contents-toggle(href="/category/days of a week") Days of a week
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Fortnight
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/bright lunar fortnight or period of waxing moon") Bright lunar fortnight or period of waxing moon
                                li
                                    a.contents-toggle(href="/category/dark lunar fortnight or period of waning moon") Dark lunar fortnight or period of waning moon
                        li
                            a.contents-toggle(href="/category/months") Months
                        li
                            a.contents-toggle(href="/category/periods") Periods
                        li
                            a.contents-toggle(href="/category/seasons") Seasons
                        li
                            a.contents-toggle(href="/category/time") Time
                        li
                            a.contents-toggle(href="/category/time and directions") Time and directions
                        li
                            a.contents-toggle(href="/category/words related to time and day") Words related to time and day
                li.expandable
                    a.contents-toggle(href="javascript:void(0);") Numbers and measurements
                    ul.inner(style="list-style-type:none")
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Numbers
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/cardinal numbers") Cardinal numbers
                                li
                                    a.contents-toggle(href="/category/ordinal numbers, numerical adjectives") Ordinal numbers, numerical adjectives
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Measurements
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/length measured using body parts") Length measured using body parts
                                li
                                    a.contents-toggle(href="/category/width measured using hand") Width measured using hand
                                li
                                    a.contents-toggle(href="/category/width measured using hand") Width measured using hand
                                li
                                    a.contents-toggle(href="/category/weight of gold measured using objects") Weight of gold measured using objects
                                li
                                    a.contents-toggle(href="/category/depth measured using body parts") Depth measured using body parts
                                li
                                    a.contents-toggle(href="/category/measure of quantity") Measure of quantity
                                li
                                    a.contents-toggle(href="/category/quantity measured using hands") Quantity measured using hands
                                li
                                    a.contents-toggle(href="/category/measures of volume for grains or liquid") Measures of volume for grains or liquid
                                li
                                    a.contents-toggle(href="/category/volume measured using measures adapted from malayalam for grains") Volume measured using measures adapted from Malayalam for grains
                                li
                                    a.contents-toggle(href="/category/other words related to measurements") Other words related to measurements
                li.expandable
                    a.contents-toggle(href="javascript:void(0);") Other general vocabulary
                    ul.inner(style="list-style-type:none")
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Colours
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/main colours") Main colours
                                li
                                    a.contents-toggle(href="/category/other colours") Other colours
                        li
                            a.contents-toggle(href="/category/directions") Directions
                        li
                            a.contents-toggle(href="/category/fireworks, pyrotechnics") Fireworks, pyrotechnics
                        li
                            a.contents-toggle(href="/category/flower strings") Flower strings
                        li
                            a.contents-toggle(href="/category/words related to games") Words related to games
                        li
                            a.contents-toggle(href="/category/vehicles and parts") Vehicles and parts
                        li
                            a.contents-toggle(href="/category/edges and points") Edges and points
                        li
                            a.contents-toggle(href="/category/capital and accounts") Capital and accounts
                        li
                            a.contents-toggle(href="/category/stay") Stay
                        li
                            a.contents-toggle(href="/category/languages") Languages
                        li
                            a.contents-toggle(href="/category/minerals") Minerals
                        li
                            a.contents-toggle(href="/category/musical instruments") Musical instruments
                        li
                            a.contents-toggle(href="/category/medicine") Medicine
                        li
                            a.contents-toggle(href="/category/nature") Nature
                        li.expandable
                            a.contents-toggle(href="javascript:void(0);") Agriculture
                            ul.inner(style="list-style-type:none")
                                li
                                    a.contents-toggle(href="/category/nouns relating to agriculture") Nouns relating to agriculture
                                li
                                    a.contents-toggle(href="/category/verbs related to agriculture") Verbs related to agriculture
                        li
                            a.contents-toggle(href="/category/extra vocabulary") Extra vocabulary

    nav.fixed-bottom.navbar.navbar-expand-md.navbar-light.bg-light(style="background-color: #e3f2fd;")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarToggler")
            a.navbar-brand(href="/", style="color: #000; font-weight: 500;") दक्षिण कोंकणी उतरावळि
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Search
                li.nav-item
                    a.nav-link.active(href="/contents") Contents
                li.nav-item
                    a.nav-link(href="/suggest") Suggest
                li.nav-item
                    a.nav-link(href="/about") About    
                li.nav-item
                    a.nav-link(href="/contact") Contact