extends layout.pug   

block content
    div.flex-container
        div.row.narrow-width
            h2 Contact
            div If you would like to contribute a new word to the repository, we would be glad to hear from you. Please write to #[b dict@suryaashok.in].