doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/main.js")
  body
    h1= heading
    input#search(type="search", placeholder="search for a word")
    div#results
                
