extends layout.pug   

block content
    div.d-flex.justify-content-center(style="bottom:0;position:fixed;width:100vw")
        div.narrow-width
            div.introduction.alert.alert-info(role="alert")
                button.close(type="button", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
                // h4.alert-heading Usage tips
                // hr
                p.mb-0 Welcome to दक्षिण कोंकणी उतरावळि, a large repository of Konkani vocabulary spoken by the Konkani people living in Kerala. Search for a word by typing either in English or in कोंकणी. If you feel more adventurous, then click on the #[b Discover!] button ;-)
    div.flex-container.homepage-search
        div.flex-item
            include keyboard.html
        div.flex-item.flex-reverse
            div.flex-inner
                input#search(type="text", class="pure-form", autocomplete="off", placeholder="start typing or select another input method")
            div.flex-inner
                div(class="btn-group btn-group-toggle", data-toggle="buttons")
                    label(class="btn btn-secondary active")
                        input(type="radio", name="options", id="opt-roman", autocomplete="off", value="roman", onchange="pramukhIME.disable();onSceenKeyboard();" checked)
                        | English
                    label(class="btn btn-secondary")
                        input(type="radio", name="options", id="opt-nagari", autocomplete="off", value="nagari", onchange="pramukhIME.enable();onSceenKeyboard();") 
                        | कोंकणी
                    label(class="btn btn-secondary btn-long-text")
                        input(type="radio" name="options" id="opt-keyboard" autocomplete="off", value="keyboard", onchange="pramukhIME.enable();onSceenKeyboard();")
                        | On-screen<br/>Keyboard
        div.flex-item
            div.flex-inner
                div#results
            div.flex-inner
                div.dummy
        div.flex-item
            span or
            br
            a.discover.btn.btn-primary.btn-lg.mx-3(href="/discover") Discover!
            span a new word
