doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/main.js")
  body
    h1= heading
    div.flex-container
      div.row
        div.flex-item
          input#search(type="search", placeholder="start typing")
        div.flex-item
          div#results
                
