doctype html
html
    head
        title= title
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/keyboard.css')
        block stylesheets
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", crossorigin="anonymous")
        script(src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
        script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=", crossorigin="anonymous")
        script(type="text/javascript", src="/javascripts/main.js")
        script(type="text/javascript", src="/javascripts/keyboard.js")
        script(type="text/javascript", src="/javascripts/pramukhime.js")
        script(type="text/javascript", src="/javascripts/pramukhindic.js")
        block scripts
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body(onload="pramukhIME.addKeyboard(PramukhIndic,'konkani')")
        nav.fixed-top.navbar.navbar-expand-md.navbar-light.bg-light(style="background-color: #e3f2fd;")
            span
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                span.navtext Menu
            div.collapse.navbar-collapse(id="navbarToggler")
                a.navbar-brand(href="/", style="color: #000; font-weight: 500;") दक्षिण कोंकणी उतरावळि
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link.active(href="/") Search
                    li.nav-item
                        a.nav-link(href="/contents") Contents
                    li.nav-item
                        a.nav-link(href="/suggest") Suggest
                    li.nav-item
                        a.nav-link(href="/about") About    
                    li.nav-item
                        a.nav-link(href="/contact") Contact
        div#main
            h1 #[a(href="/") #{heading_konkani}]
            h1 #[a(href="/") #{heading}]
        block content