doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/keyboard.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        block stylesheets
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript", src="/javascripts/main.js")
        script(type="text/javascript", src="/javascripts/keyboard.js")
        block scripts
    body
        div.menu-icon #[i.material-icons chevron_right]
        div.sidenav#sidebar
            a(href="/") Home
            a(href="/about") About
            a(href="/suggest") Suggest
            a(href="/contact") Contact
        div#main
            h1 #[a(href="/") #{heading}]
            block content