extends layout.pug   

block link
    -var selected = 'Contents';

block content
    div.contents-container
        div.flex-inner-p25
            if same_subcat_words[0]
                h3 #[span.highlight #{same_subcat_words[0].english_subcategory._}]
                h4 #[span.highlight #{same_subcat_words[0].konkani_subcategory._}]
            else
                h2 Work in progress. Please check again later.
            div
                ol
                    each word in same_subcat_words
                        li
                            if word.konkani_word
                                if word.konkani_word._
                                    a(href='/words/'+ word.konkani_word._.replace(/ /g, '+')) #{word.konkani_word._}
                            else if word.english_word
                                if word.english_word._
                                    a(href='/words/'+ word.english_word._.replace(/ /g, '+')) #{word.english_word._}