extends layout.pug   

block content
    div.contents-container
        div.flex-inner
            if same_subcat_words[0]
                h3 Words in #[span.highlight #{same_subcat_words[0].subcategory._}]
            else
                h2 Work in progress. Please check again later.
            div
                ol
                    each word in same_subcat_words
                        li
                            if word.english_word
                                if word.english_word._
                                    a(href='/words/'+ word.english_word._.replace(/ /g, '+')) #{word.english_word._}

    nav.fixed-bottom.navbar.navbar-expand-md.navbar-light.bg-light(style="background-color: #e3f2fd;")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarToggler")
            a.navbar-brand(href="/", style="color: #000; font-weight: 500;") दक्षिण कोंकणी उत्तरावळि
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Search
                li.nav-item
                    a.nav-link(href="/contents") Contents
                li.nav-item
                    a.nav-link(href="/suggest") Suggest
                li.nav-item
                    a.nav-link(href="/about") About    
                li.nav-item
                    a.nav-link(href="/contact") Contact