body {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: arial, Helvetica, sans-serif;
}

a {
  color: #484452;
  text-decoration: none;
  border-bottom: 1px black dotted;
  /* text-shadow:
    3px 3px white,
    3px -3px white,
    -3px 3px white,
    -3px -3px white; */
}

a:hover {
  text-decoration: none;
}

li a:hover {
  color: #999;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}

@media only screen and (max-width: 1192px) {
   h1 { 
      font-size: 2.5rem; 
   }
}

@media only screen and (max-width: 480px) {
   h1 { 
      font-size: 1.5rem; 
   }
}

h1 a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

h1 a:hover {
  color: #444;
  text-decoration: none;
}

h2 {
  font-size:2rem;
  font-weight:600;
  margin-bottom:2rem;
  margin-top:2rem;
}

h3 {
  font-size: 1em;
}

.flex-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.flex-container>div {
  flex: 1 0 100%;
}

.flex-container>div:first-child {
  flex: 1 0 100%;
}

.flex-item {
  /*width: 25vw;*/
  align-self: flex-start;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  flex-wrap: wrap;
  position: relative;
}

.flex-inner {
  /*width: 25vw;*/
  /*align-self: center;*/
  display:flex;
  justify-content:center;
  align-items:left;
  margin: 0 1rem 1rem 0;
  position: relative;
  flex-direction: column;
  padding-bottom: 2rem;
}

.flex-inner-p25 {
  padding-left: 25%;
  display:flex;
  justify-content:center;
  align-items:left;
  margin: 0 1rem 1rem 0;
  position: relative;
  flex-direction: column;
  padding-bottom: 2rem;
}

.flex-reverse {
  flex-wrap: wrap-reverse;
}

.row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  position: relative;
}

.narrow-width {
  width: 50%;
}

.clear {
  flex: 0 1 100%;
  display: flex;
  align-self: flex-start;
}

.cell {
  margin-left: 10px;
}

.overlaybox {
  z-index: 100;
  position: relative;
  background: rgb(250,250,250);
  border: none;
  border-radius: 20px;
}

.highlight {
  color: #aa7777;
  font-size: 1.1em;
}

.more-details {
  font-size: 0.7em;
  color: #4c4c4c;
  line-height: 2;
}

.more-details a {
  color: #555;
}

#search-container {
  z-index: 100;
}

.homepage-search {
  margin-top: 15%;
}

#search {
  text-align: left;
  width: 40rem;
  height: 2.1em;
  font-size: 1.7rem;
  padding-left: 0.8em;
}

#results {
  width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  /* border: 1px solid skyblue; */
  background: solid rgb(250,250,250);
  max-width: 40rem;
  overflow-y: auto;
  max-height: 50vh;
  z-index: 100;
  font-size: 1.25em;
}

@media only screen and (max-width: 716px) {
  #search { 
    width: 30rem;
    height: 2.1em;
    font-size: 1.4rem;
    padding-left: 0.4em;
  }
  #results {
    width: 30rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 520px) {
   #search { 
      width: 90vw;
      height: 2.5em;
      font-size: 0.9rem;
      padding-left: 0.2em;
   }
   #results {
    width: 90vw;
    font-size: 0.65rem;
  }
}

#keyboard-icon {
  width: 2.22em;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  align-content: center;
}

nav a {
  border-bottom: none;
  font-size: 1.25rem;
}

nav .navbar-brand {
  font-size: 1.25rem;
}

#specific-results {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.75em;
}

.results-table tr {
  padding-left: auto;
  padding-right: auto;
}

.results-table thead {
  color:#999;
  font-weight: bold;
  text-transform: lowercase;
}

.results-table td {
  border: 0px;
}

.results-table tbody tr:hover {
  color: #990f0f;
  background: #ddd;
}

.dummy {
  width: 16rem;
  height: 2.22em;
  display: inline-block;
}

/* Sidebar was here */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Toggle */
.btn-secondary {
  font-size: 1rem;
  height: 3rem;
  min-width: 5rem;
  padding-top: 0.8rem;
  margin-top: 0;
  color: #545454;
  background-color: #fff;
  border-color: #0087ff;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  color: #414141;
  background-color: #c7e3ff;
  border-color: #0087ff;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: #414141;
  background-color: #70b7ff;
  border-color: #0087ff;
}

.btn-secondary:hover {
  color: #414141;
  background-color: #c7e3ff;
  border-color: #0087ff;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #414141;
  background-color: #c7e3ff;
  border-color: #0087ff;
}

.btn-long-text {
  font-size: 0.9rem;
  height: 3rem;
  min-width: 6rem;
  padding-top: 0.1rem;
  margin-top: 0;
}

@media only screen and (max-width:716px) {
  .btn-secondary {
      font-size: 0.9rem;
      height: 2.2rem;
      padding-top: 0.4rem;
  }
  .btn-long-text {
      font-size: 0.7rem;
      height: 2.2rem;
      padding-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .btn-secondary {
      font-size: 0.7rem;
      height: 1.7rem;
      min-width: 5rem;
      padding-top: 0.3rem;
  }
  .btn-long-text {
      font-size: 0.5rem;
      height: 1.7rem;
      padding-top: 0;
  }
}

/* Contents page */

ul.contents-accordion {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
  
    .inner {
        list-style-type: none;
        padding-left: 1em;
        overflow: hidden;
        display: none;
      
        &.show {
          /*display: block;*/
        }
    }
  
    li {
        margin: .5em 0;
        list-style-image: none;
      
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }
}

ul.contents-accordion > li {
  font-weight: 600;
  font-size: 1.75rem;
}

ul.contents-accordion > li.expandable > ul > li.expandable {
  font-weight: 600;
  font-size: 1.5rem;
}

ul.contents-accordion > li.expandable > ul > li.expandable > ul > li.expandable {
  font-weight: 600;
  font-size: 1.25rem;
}

.contents-accordion li:not(.expandable) {
  font-size: 1.1rem;
  font-weight: 400;
}

ul.contents-accordion li.expandable:before {
  padding:5px;
  list-style:none;
  content:  "+";
  font-weight: 600;
  font-size: 1.5rem;
}

ul.contents-accordion > li.expandable:before {
  padding:5px;
  list-style:none;
  content:  "+";
  font-weight: 600;
  font-size: 2rem;
}

ul.contents-accordion > li.expandable > ul > li.expandable:before {
  padding:5px;
  list-style:none;
  content:  "+";
  font-weight: 600;
  font-size: 1.5rem;
}

.contents-accordion li:not(.expandable):before {
  padding:10px;
  list-style:none;
  content:  " ";
  font-size: 1.1rem;
}

.contents-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    justify-content: left;
    padding-bottom: 4rem;
}

.category-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: left;
    padding-bottom: 4rem;
}

.suggest-form {
  margin-top: 5rem;
  font-size: 1.2rem;
  width: 100%;
}

/* Counter */

.counter
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-wrap: wrap;
    flex-flow: row;
}

.counter-1, .counter-2
{
    margin-right: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.counter-1-p,.counter-2-p
{
    font-size: 1rem;
    color: #000000;
}

/* End counter */