body {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
  line-height: 1.75em;
  font-family: arial, Helvetica, sans-serif;
}

a {
  color: #484452;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
  width: 25vw;
  align-self: flex-start;
}

.row {
  width: auto;
}

.center {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
}

.cell {
  margin-left: 10px;
}

#search {
  text-align: left;
  width: 500px;
  height: 2.5em;
  font-size: 1.4em;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid skyblue;
  background: rgb(250,250,250);
  padding-left: 1.1em;
  margin-bottom: 0.6em;
}

#keyboard-icon {
  width: 2.22em;
  cursor: pointer;
}

#results {
  width: 500px;
  margin-top: 0.6em;
  margin-right: 10px;
  border-radius: 10px;
  /* border: 1px solid skyblue; */
  background: rgb(250,250,250);
  max-width: 500px;
  overflow-y: auto;
  max-height: 50vh;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table tr {
  padding-left: auto;
  padding-right: auto;
}

.results-table thead {
  color:#999;
  font-weight: bold;
  text-transform: lowercase;
}

.results-table td {
  padding-left: 1.1em;
  border: 0px;
  font-size: 1.25em;
}

.results-table tbody tr:hover {
  color: #990f0f;
  background: #ddd;
}

.dummy {
  width: 2.22em;
  height: 2.22em;
  display: inline-block;
}